// Variable
$white: #f6f6f6;
//Mixins
@mixin fonctionnement-restaurants__container {
  width: 90%;
  margin: auto;
  @media screen and (min-width: 1025px) {
    width: 73%;
  }
}
h1,
h2,
p {
  margin: 0;
}
h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(153, 226, 208, 1);
  animation: loaderAnimation 3s forwards;
  @keyframes loaderAnimation {
    99% {
      opacity: 1;
      z-index: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  &___container {
    position: relative;
    width: 50vw;
    height: 50vw;
    @media screen and (min-width: 769px) {
      width: 50vh;
      height: 50vh;
    }
    & .cercle {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: boxShadowAnimation 1s linear infinite,
        rotation 3s linear infinite;
    }
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(1080deg);
      }
    }
    @keyframes boxShadowAnimation {
      0% {
        box-shadow: 0 -10px 0 0 #9356dc, 0 10px 0 0 #ff79da;
      }
      50% {
        box-shadow: 0 -20px 0 0 #9356dc, 0 20px 0 0 #ff79da;
      }
      100% {
        box-shadow: 0 -10px 0 0 #9356dc, 0 10px 0 0 #ff79da;
      }
    }
    & i {
      font-size: 5vw;
      opacity: 0;
      @media screen and (min-width: 769px) {
        font-size: 5vh;
      }
    }
    & .fa-solid {
      animation: appear 500ms forwards;
      @keyframes appear {
        to {
          opacity: 1;
        }
      }
    }
    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      object-fit: contain;
      opacity: 0;
      animation: appear 500ms forwards;
      animation-delay: 500ms;
    }
    @keyframes appear {
      to {
        opacity: 1;
      }
    }
    & .fa-location-dot {
      position: absolute;
      top: 30%;
      left: 20%;
      transform: translate(-50%, -50%);
      animation-delay: 1000ms;
    }
    & .fa-mobile-screen-button {
      position: absolute;
      top: 30%;
      right: 15%;
      transform: translate(-50%, -50%);
      animation-delay: 1500ms;
    }
    & .fa-list {
      position: absolute;
      bottom: 20%;
      right: 12.5%;
      transform: translate(-50%, -50%);
      animation-delay: 2000ms;
    }
    & .fa-store {
      position: absolute;
      bottom: 20%;
      left: 20%;
      transform: translate(-50%, -50%);
      animation-delay: 2500ms;
    }
  }
}
.location {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  & i {
    height: 16px;
  }
  & p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #353535;
  }
}
.reservation {
  height: 179px;
  padding: 30px 0 30px 0;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & h1,
  p {
    text-align: center;
  }
  & h1 {
    font-size: 28px;
    font-weight: 700;
    @media screen and (min-width: 1025px) {
      font-size: 40px;
    }
  }
  & p {
    font-size: 18px;
    font-weight: 300;
    color: #353535;
  }
  & a {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 15px;
  }
  & a:hover {
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    opacity: 80%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}
/* Fonctionnement */
.fonctionnement {
  @include fonctionnement-restaurants__container;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  padding: 50px 0 50px 0;
  & ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0;
    @media screen and (min-width: 1025px) {
      flex-direction: row;
      gap: 50px;
    }
  }
  & li {
    position: relative;
    width: 100%;
    counter-increment: list-counter;
    list-style: none;
    @media screen and (min-width: 1025px) {
      width: 31%;
    }
  }

  & li::before {
    position: absolute;
    content: counter(list-counter) "";
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: #9356dc;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
  }
  & div {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px #00000026;
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
  }
  & i {
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-align: center;
  }
  & .fa-mobile-screen-button {
    width: 13px;
    height: 20px;
  }
  & .fa-mobile-screen-button,
  & .fa-list {
    color: #7e7e7e;
  }
  & .fa-store {
    height: 18px;
    color: #9356dc;
  }
}
#restaurants {
  background-color: $white;
  &__container {
    @include fonctionnement-restaurants__container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 30px 0 30px 0;
  }
  & article {
    position: relative;
    width: 100%;
    height: 251px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    @media screen and (min-width: 769px) {
      width: 45%;
    }
    & a {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 30px;
      text-decoration: none;
      & span {
        position: absolute;
        right: 5%;
        top: 13px;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        background-color: #99e2d0;
        box-shadow: 0px 2px 4px 0px #00000026;
        font-size: 14px;
        font-weight: 500;
        color: #008766;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & img {
        width: 100%;
        height: 231px;
        object-fit: cover;
        position: absolute;
        top: -25%;
        left: 0;
      }
      & div {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0 0 20px 15px;
        & h3 {
          font-size: 18px;
          font-weight: 700;
          margin: 0;
          color: #000000;
        }
        & p {
          font-size: 17px;
          font-weight: 300;
          color: #000000;
        }
      }
    }
  }
  & label {
    position: absolute;
    top: 78%;
    left: 87%;
    & i {
      @media screen and (min-width: 769px) {
        left: 6px;
      }
    }
  }
}
